
body{
	background-color: #201f20;
	margin: 0;
	font-family: 'Montserrat';
	text-transform: uppercase;
	font-weight: 400;
}


h1{
	color:  white;
	text-align: center;
}

div{
	width: 100%;
	float: left
}

button{
	background-color: white;
	border: 0px solid;
}

#head{
	background-color: rgb(60, 118, 174);
	
}

#mid{
	background-color: rgb(255, 255, 255);
	height: 30px;
}


#rgbDisplay{
	display: block;
	color: white;
	font-size: 1.5em;
}

#message{
	text-align: center;
}

.right{
	float: right;
}

.container{
	margin: 0 auto; 
	max-width: 600px;
	float: none;
}

.square{
	width: 30%;
	margin: 1.66%;
	padding-bottom: 30%;
	border-radius: 30px;
}

.fade{
	opacity: 1;
	transition: 1s;
}

